/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

ul {
    list-style-type: none;
    width: 100%;
}

h2 {
   font-size: 40px;
}



/*************************************************
    Header
 *************************************************/

 header {
   background-color: rgb(0, 132, 253);
}

 #Container_head {
    margin: 0 auto;
    width: 380px;
 }


 #Container_head li {
    display: inline-block;
    color: white;
    
 }

 #Container_head li .logo {
   height: 50px;
	line-height: 100px;
	vertical-align: middle;
 }

 #Container_head li i {
    margin-left: 255px;
 }

 #Container_head .tag_header, span {
    display: none;
 }

 #Container_head .tag_header{
   color: black;
   text-decoration: none;
   cursor: pointer;
   background-color: white;
   padding: 10px 20px 10px 20px;
   border-radius: 20px;
   font-weight: bold;
}

#Container_head  a:active {
   color: white;
   }

 /*************************************************
    main
 *************************************************/

 .Container_main {
   margin: 0 auto;
   width: 380px;
   padding-top: 50px;
}

.Container_main .col {
   background-color: rgb(181, 221, 255);
   border-radius: 50px;
   margin-bottom: 50px;
   padding: 10px;
}

.Container_main .col h2 {
   color: rgb(0, 132, 253);
   padding-top: 20px;
   text-align: center;
   font-size: 30px;
}

.Container_main .col p {
   color: rgb(90, 110, 127);
   max-width: 280px;
   font-weight: bold;
   margin: 20px 0px 20px 50px;
}

.Container_main .Button_link {
   margin: 40px 0px 40px 20px;
}

.Container_main .tag_main{
   color: white;
   text-decoration: none;
   cursor: pointer;
   background-color: rgb(0, 132, 253);
   margin: 50px 0px 50px 50px;
   padding: 10px 60px 10px 60px;
   border-radius: 20px;
   font-weight: bold;
}

.Container_main .tag_main:active {
color: black;
}

.Container_main .col img {
   width: 100%;
   margin-bottom: -6px;
}

/* Gestione icone grandi */
.Container_main .fa-apple {
   margin: 0px 10px 0px 0px
}
 
.Container_main .standard .fa-solid {
   font-size: 100px;
   color: rgb(0, 132, 253);
}

.Container_main .fa-file-code {
    margin: 50px 0px 0px 140px; 
}

.Container_main .fa-laptop-code {
   margin: 50px 0px 0px 120px; 
}

.Container_main .fa-compass-drafting {
   margin: 50px 0px 0px 140px; 
}

.Container_main .fa-bullhorn {
   margin: 50px 0px 0px 140px; 
}

/*------------------------------------ seconda sezione---------------------------------------- */
.background {
   background-color: rgb(151, 146, 228);
   padding-bottom: 30px;
}

.Container_main .col2 img {
   width: 100%;
}

.Container_main .col2 h2 {
   color: white;
   padding-top: 20px;
   text-align: center;
}

.Container_main .col2 p {
   color: white;
   margin: 20px 0px 20px 50px;
}

.Container_main .Button_link2 {
   margin: 40px 0px 40px 20px;
}

.Container_main .tag_main2{
   color: black;
   text-decoration: none;
   cursor: pointer;
   background-color:rgb(151, 146, 228);
   margin: 50px 0px 50px 160px;
   padding: 5px 10px 5px 10px;
   border-radius: 100%;
   font-weight: bold;
}

.Container_main .tag_main2:active {
   color: white;
}

.Container_main .white{
   background-color: white;
   border-radius: 50px;
   padding-bottom: 30px;
}

.Container_main .white h2 {
   color: black;
}

.Container_main .white p {
   color: black;
}

/*------------------------------------ terza sezione---------------------------------------- */

.Container_main .col3 {
   text-align: center;
}

.Container_main .col3 h2 {
   color:rgb(151, 146, 228);
}

.Container_main .col3 p {
   font-size: 20px;
   font-weight: bold;
}

/* Blocchi purple */

.Container_main .purple {
   margin: 30px 0px 30px 0px;
   background-color:rgb(151, 146, 228);
   border-radius: 50px;
   padding: 20px;
}

.Container_main .purple .profile {
   width: 220px;
   height: 190px;
   margin: 0px 0px 30px 55px;
}

.Container_main .purple .profile img {
   width: 100%;
   height: 100%;
   border-radius: 100%;
}

.Container_main .purple  p {
   font-size: 20px;
   font-weight: bold;
   color: white;
}

.Container_main .purple h2 {
   color:white;
   font-size: 25px;
   margin: 10px 0px 20px 0px;
}

 /************************************************
    PARTE RESPONSIVE
 ************************************************/

  /* Versione tablet */
  @media screen and (min-width: 767px) {
    
   /*************************************************
    Header
   *************************************************/
    #Container_head {
        margin: 0 auto;
        width: 90%;
     }

   #Container_head li i {
      margin-left: 540px;
   }
   /*************************************************
    main
   *************************************************/
   
   .Container_main {
      margin: 0 auto;
      width: 90%;
      padding-top: 50px;
   }
   
   .Container_main .row{
      display: flex;
      flex-wrap: wrap;
   }

   .Container_main .col {
      width: calc((100% / 3) - 20px) ;
      margin: 10px;
   }

   .Container_main .doppio {
      width: calc(((100% / 3) * 2) - 20px); 
   }

   .Container_main .col img {
      width: 50%;
      margin: 35px 0px -16px 45px;
   }

   .Container_main .standard h2 {
      color: rgb(0, 132, 253);
      margin: 20px 0px 20px 20px;
      
   }

   .Container_main .standard p {
      color: rgb(90, 110, 127);
      font-weight: bold;
      text-align: center;
      max-width: 90%;
      margin: 0px 0px 80px 20px;
   }

   .Container_main .doppio h2 {
      color: rgb(0, 132, 253);
      margin: 20px 0px 20px 20px;
      text-align: left;
   }

   .Container_main .doppio p {
      color: rgb(90, 110, 127);
      font-weight: bold;
      text-align: left;
      max-width: 90%;
      margin: 0px 0px 80px 20px;
   }

   .Container_main a{
      color: white;
      text-decoration: none;
      cursor: pointer;
      background-color: rgb(0, 132, 253);
      margin-left: 20px;
      padding: 10px 60px 10px 60px;
      border-radius: 20px;
      font-weight: bold;
  }

  .Container_main a:active {
   color: white;
   }

   .Container_main .Button_link2 {
      margin: 40px 0px 40px 175px;
   }
   

   /* Gestione icone grandi */
   .Container_main .standard .fa-solid {
      font-size: 75px;
      max-width: 90%;
      color: rgb(0, 132, 253);
   }

   .Container_main .fa-file-code {
      margin: 50px 0px 0px 70px; 
   }

   .Container_main .fa-laptop-code {
      margin: 50px 0px 0px 50px; 
   }

   .Container_main .fa-compass-drafting {
      margin: 50px 0px 0px 50px; 
   }

   .Container_main .fa-bullhorn {
      margin: 50px 0px 0px 70px; 
   }
   
   
}

 /* Versione Desktop */
 @media screen and (min-width: 1500px) {
    
   /*************************************************
    Header
   *************************************************/
  
    #Container_head li .tag_header, span {
        display: inline-block;
        margin-left: 30px;
     }
    
     #Container_head li i {
        display: none;
     }

     #Container_head .left{
      margin-left: 540px;
   }

   /*************************************************
    main
   *************************************************/
   

   .Container_main .col img {
      width: 40%;
      margin: -2750px 0px -100px 500px;
   }

   .Container_main .doppio p {
      max-width: 50%;
   }

   .Container_main a{
      color: white;
      text-decoration: none;
      cursor: pointer;
      background-color: rgb(0, 132, 253);
      padding: 10px 60px 10px 60px;
      border-radius: 20px;
      font-weight: bold;
   }
   
   .Container_main a:active {
   color: white;
   }

   /*------------------- Seconda sezione---------------- */
  
   .Container_main .col2 {
      width: 60%; 
   }

   .Container_main .white {
      width: 30%; 
      margin: 200px 0px 0px 125px;
   }

   .Container_main .col2 img {
      max-width: 100%;
   }

   .Container_main .col2 h2 {
      text-align: left;
      padding-top: 20px;
      margin-left: 50px;
   }

   .Container_main .white p {
      text-align: center;
      margin: 10px 0px 10px 0px;
   }

   .Container_main .Button_link2 {
      margin: 40px 0px 40px 35px;
   }   
   
   /* Gestione icone grandi */
   .Container_main .standard .fa-solid {
      font-size: 100px;
      color: rgb(0, 132, 253);
   }
   
   .Container_main .fa-file-code {
      margin: 50px 0px 0px 170px; 
   }
   
   .Container_main .fa-laptop-code {
      margin: 50px 0px 0px 140px; 
   }
   
   .Container_main .fa-compass-drafting {
      margin: 50px 0px 0px 160px; 
   }
   
   .Container_main .fa-bullhorn {
      margin: 50px 0px 0px 160px; 
   }
   

}