/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

ul {
    list-style-type: none;
    width: 100%;
}



/*************************************************
    Header
 *************************************************/

 header {
   background-color: rgb(0, 132, 253);
}

 #Container_head {
    margin: 0 auto;
    max-width: 380px;
 }


 #Container_head li {
    display: inline-block;
    color: white;
    
 }

 #Container_head li .logo {
    height: 50px;
	line-height: 100px;
	vertical-align: middle;
 }
  /*  */
 #Container_head li i {
    margin-left: 255px;
 }

 #Container_head li span, a {
    display: none;
 }

 /*************************************************
    main
 *************************************************/

 #Container_main {
   margin: 0 auto;
   max-width: 380px;
   padding-top: 50px;
}

#Container_main .col {
   background-color: rgb(181, 221, 255);
   width: 100%;
   border-radius: 50px;
}

#Container_main .col h2 {
   text-align: center;
   color: rgb(0, 132, 253);
   margin-top: 50px;
}

#Container_main .col p {
   color: rgb(90, 110, 127);
   max-width: 280px;
   margin: 20px 0px 20px 50px;
}

#Container_main .col img {
   width: 100%;
}

 /************************************************
    PARTE RESPONSIVE
 ************************************************/

  /* Versione tablet */
  @media screen and (min-width: 768px) {
    
   /*************************************************
    Header
   *************************************************/
    #Container_head {
        margin: 0 auto;
        max-width: 568px;
     }
     #Container_head li i {
      margin-left: 445px;
   }
}

 /* Versione Desktop */
 @media screen and (min-width: 1500px) {
    
   /*************************************************
    Header
   *************************************************/
    #Container_head {
        margin: 0 auto;
        max-width: 1200px;
        padding: 10px 0px 10px 0px;
     }
    
    #Container_head li span, a {
        display: inline-block;
        margin-left: 50px;
     }
    
     #Container_head li i {
        display: none;
     }

     #Container_head .left{
      margin-left: 390px;
   }

   #Container_head a{
      color: black;
      text-decoration: none;
      cursor: pointer;
      background-color: white;
      padding: 10px 10px 10px 10px;
      border-radius: 50px;
  }

  #Container_head a:active {
   color: white;
   }

}